@import "aurora-utilities";
@import "../config";

// Colors
@each $name, $color in $editor-palette {

	.has-#{$name}-background-color {
		background-color: $color;
	}

	.has-#{$name}-color {
		color: $color;

		a,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: $color !important;
		}
	}
}

.icon-logo {
	height: 100%;
	width: 100%;
}

.editor-block-icon__colors {
	max-width: rem(36);
}
